/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,800&display=swap');
@import url(./theme.css);

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: .45rem;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, .4);
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background: var(--background);
}
.chat::-webkit-scrollbar-track{
    background: transparent;
}

.App{
    min-height: 100vh;
    background: url(../assets/background.png) center top no-repeat fixed;
    background-color: var(--background);
}

.chat{
    max-height: calc(100vh - 81px - 87px);
    overflow-y: scroll;
}

.section{
    height: calc(100vh - 81px);
}

.form-control:focus,
.form-control:active{
    -webkit-box-shadow:none !important;
            box-shadow:none !important;
}

.linkify a{
    color: #d2daeb;
    text-decoration: none;
}