.bg-nav-blur{
    background: rgba(134, 182, 254,0.3);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(164, 200, 254, 0.5);
}
.bg-dark-nav-blur{
    background: rgba(2, 22, 50,0.2);
    backdrop-filter: blur(5px);
}

.bg-light-blur{
    background: linear-gradient(to right, rgba(182, 211, 254,0.4), rgba(182, 211, 254,0.4));
    backdrop-filter: blur(5px);
}
.bg-light-blur:hover{
    background: linear-gradient(to right, rgba(182, 211, 254,0.5), rgba(182, 211, 254,0.5));
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-in-out;
}

.bg-blue-blur{
    background: linear-gradient(to right,rgba(61, 139, 253,0.9), rgba(13,110,253,0.7));
    backdrop-filter: blur(5px);
}
.bg-blue-blur:hover{
    background: linear-gradient(to right,rgba(61, 139, 253,1), rgba(13,110,253,0.8));
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-in-out;
}

.bg-blue-custom{
    background: #0099ff;
}