.bg-navbar-color{
    background: var(--navbar);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    border-bottom: var(--nav-border);
    color: var(--text);
}

.bg-neutral-color{
    background: var(--neutral);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

.bg-secondary-color{
    background: var(--secondary);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

.bg-primary-color{
    background: var(--primary);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

.bg-blue-custom{
    background: var(--blue);
}

h1,h3,h5,a{
    color: var(--text);
}

.App > svg{
    fill: var(--blue);
}

.btn-primary{
    background: var(--primary);
}

:root {
    --primary: linear-gradient(to right,rgba(42, 120, 237, 0.9), rgba(13,110,253,0.7));
    --secondary: linear-gradient(to right, rgba(182, 211, 254,0.4), rgba(182, 211, 254,0.4));
    --navbar: rgba(134, 182, 254,0.3);
    --navbar-border: 1px solid rgba(164, 200, 254, 0.5);
    --neutral: var(--bs-light);
    --background: var(--bs-light);
    --text: var(--bs-dark);
    --blue: #0099ff;
}

[data-theme='dark']{
    --primary: linear-gradient(to right,rgba(61, 139, 253,0.9), rgba(13,110,253,0.7));
    --secondary: linear-gradient(to right, rgba(182, 211, 254,0.4), rgba(182, 211, 254,0.4));
    --navbar: rgba(2, 22, 50,0.2);
    --navbar-border: 1px solid rgba(2, 22, 50,0.2);
    --neutral: var(--bs-dark);
    --background: var(--bs-dark);
    --text: var(--bs-light);
    --blue: #0099ff;
}